body, html {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	background-color: #f3f3f3;
	margin: 40px;
}

#cv {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
}

#mainArea {
	width: 90%;
	margin: 0 auto;
}

.mainDetails {
	
	border-bottom: 3px #cf8a05 solid;
}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin: 0 30px 30px 30px;
}

#headshot img {
	border-radius: 100%;
	width: 100%;
}

#name, .sectionTitle, .sectionContent h2 {
	font-family: 'Rokkitt', 'Helvetica' ,'Arial' ,sans-serif;
}

#name {
	float: left;
}

#name h1 {
	margin-bottom: -20px;
	margin-top: 2vh;
}

#name h2 {
	font-weight: lighter;
}

#contactDetails ul {
	float: right;
	list-style-type: none;
	margin-right: 20px;
	margin-top: 2vh;
}

#contactDetails ul li a {
	text-decoration:none;
	color: #000;
}

section {
	padding: 0;
	border-bottom: 1px #dedede solid;
	color: #444444;
}

.sectionTitle {
	float: left;
	width: 25%;
	color: #cf8a05;
}

.sectionTitle h1 {
	font-weight: lighter;
	font-style: italic;
	font-size: 22px;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionContent h2 {
	font-weight: lighter;
}

.keySkills{
	text-align: left;
	list-style-type: none;
	column-count: 3;
	padding: 0;
}

.subDetails {
	margin-top: -20px;
	margin-bottom: -10px;
	font-style: italic;
	font-size: 0.8em;
}
